{:paths ["src" "resources"]

 :deps {net.cgrand/macrovich {:mvn/version "0.2.2"}
        com.taoensso/encore  {:mvn/version "3.151.0"}
        metosin/malli        {:mvn/version "0.19.1"}}

 :aliases {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "3.1.8"}}}
           :dev {:extra-paths ["src-dev"]
                 :extra-deps {cider/cider-nrepl {:mvn/version "0.57.0"}
                              nrepl/nrepl {:mvn/version "1.3.1"}}}
           :test {:extra-paths ["test"]}
           :test-runner {:extra-paths ["test"]
                         :extra-deps {lambdaisland/kaocha          {:mvn/version "1.91.1392"}
                                      lambdaisland/kaocha-cljs2 {:mvn/version "0.2.72"
                                                                 :exclusions [lambdaisland/glogi]}
                                      ;; you get errors when using glogi versions earlier than 1.0.100
                                      lambdaisland/glogi {:mvn/version "1.3.169"}
                                      thheller/shadow-cljs {:mvn/version "3.1.8"}}}

           :snoop {:jvm-opts ["-Dsnoop.enabled"]}

           :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd62"}
                                io.github.juxt/pack.alpha {:git/sha "04532ca003a575baaef94b39638801bb0a46f0f4"}
                                slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}
           ;;
           }}
